<section class="main">
  <section>
    <article class="title">
      <header>
        <h2>Train and test the model</h2>
      </header>
      <p class="details">
        Try this app with previously chosen images.
        Load your own images from disk, or try a random image of our training dataset.
      </p>
    </article>
  </section>
  <section class="upload">
    <div class="padding">
      <article>
        <header>
          <h3>Upload</h3>
        </header>
        <p class="details">Upload an image from your disk, and see if we can guess tha traffic sign on it.</p>
      </article>
      <div class="card-box">
        <div class="card-content">
          <div class="upload-box">
            <div class="padding d-flex justify-content-center align-items-center">
              <label for="image-upload" class="button">
                <span>Upload image</span>  <i class="fa fa-cloud-upload"></i> 
              </label>
              <input id="image-upload" type="file"/>
            </div>
          </div>
          <div class="classification">
            <div class="padding">
              <h4>Classification</h4>
            </div>
            <div class="result"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>