.main {
  position: fixed;
  height: var(--header-height);
  z-index: 5;
  display: flex;
  width: 100vw;
  align-items: center;
  background: #fffd;
  box-shadow: var(--shadow);
  transition: var(--transition);
  padding: 0 4rem;
}

.header-item {
  position: relative;
  height: 100%;
  padding: 0 .5rem;
  margin: 0 .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  font-weight: 500;
  color: var(--dark);
  cursor: pointer;
  transition: var(--transition);
}

.main:hover {
  background-color: var(--white);
}

.header-item.active span::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--blue);
  border-radius: 4px 4px 0 0;
}

.header-item:hover {
  color: #222;
}