<section class="main">
  <nav>
    <div class="back-button" routerLink="/">
      <span><i class="fa fa-chevron-left"></i> Back</span>
    </div>
  </nav>
  <canvas class="photo-canvas" id="camera--sensor" #photoCanvas></canvas>
  <video class="camera-view" id="camera--view" autoplay playsinline #cameraView></video>
  <div class="detections">
    <div class="detection image-holder" @appear *ngFor="let object of detections" >
      <app-detection [detection]="object" [image]="object.image"></app-detection>
    </div>
  </div>
  <button class="button camera-button" (click)="toggleDetections()" [ngClass]="{'red': running}">
    <span>{{ running ? 'Stop' : 'Start' }} object detection</span>
  </button>
</section>
