.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  font-size: 1.6rem;
  margin: 1.5rem 3rem;
  font-weight: 700;
  color: #fff9;
  cursor: pointer;
  transition: var(--transition);
  text-shadow: 3px 3px 8px #0002;
}

.back-button:hover {
  color: #fffc;
}

.back-button .fa {
  margin-right: 1.3rem;
}

.camera-view, .taken-photo, .photo-canvas{
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.photo-canvas {
  display: none;
}

.camera-button{
  width: 80vw;
  position: absolute;
  bottom: 30px;
}

.taken{
  --size: 100px;
  height: var(--size);
  width: var(--size);
  transition: all 0.5s ease-in;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  top: 20px;
  right: 20px;
  z-index: 2;
  transition: var(--transition);
}

.detections {
  border-radius: 6px;
  top: 20px;
  right: 20px;
  z-index: 2;
  position: absolute;
  font-size: 2rem;
}

.detection {
  margin-bottom: 20px;
  width: 10rem;
  height: 10rem;
}

.taken:hover {
  --size: 200px;
}

.button .fa  {
  margin: 0 2rem 0 0;
  animation: none;
}

@media screen and (min-width: 500px) {
  .camera-view, .taken-photo, .photo-canvas{
    transform: scaleX(-1);
  }
}