.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  font-size: 25px;
  margin: 1rem 3rem;
  font-weight: 700;
  color: #fff9;
  cursor: pointer;
  transition: var(--transition);
  text-shadow: 3px 3px 8px #0002;
}

.back-button:hover {
  color: #fffc;
}

.back-button .fa {
  margin-right: 20px;
}

.camera-view, .taken-photo, .photo-canvas{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.camera-view, .taken-photo, .photo-canvas{
  transform: scaleX(-1);
}

.camera-button{
  width: 80vw;
  position: absolute;
  bottom: 30px;
}

.taken{
  height: 100px!important;
  width: 100px!important;
  transition: all 0.5s ease-in;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.button .fa  {
  margin: 0 2rem 0 0;
  animation: none;
}