<section class="main">
  <nav>
    <div class="back-button" routerLink="/">
      <span><i class="fa fa-chevron-left"></i> Back</span>
    </div>
  </nav>
  <canvas class="photo-canvas" id="camera--sensor" #photoCanvas></canvas>
  <video class="camera-view" id="camera--view" autoplay playsinline #cameraView></video>
  <img src="//:0" alt="" class="taken-photo" id="camera--output" #takenPhoto>
  <button class="button camera-button" id="camera--trigger" (click)="takePhoto()">
    <i class="fa fa-camera"></i>
    Take a picture
  </button>
</section>
