.image {
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.image .label {
    opacity: 0;
    transition: var(--transition);
    background-color: #000a;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: 600;
}

.image .label span {
    transform: scale(.8);
    transition: var(--transition);
}

.image:hover .label {
    opacity: 1;
}

.imagge:hover .label span {
    transform: scale(1);
}
